<ion-header>
  <ion-toolbar>
    <ion-title>
      รายการแข่งขัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding example1">
    <ion-row>
      <ion-col size="6" text-start>
        <ion-item>
          <strong>คู่วันที่ 15/10/2562</strong>
        </ion-item>
      </ion-col>
      <ion-col size="6" text-end>
        <ion-item>
          <strong>เวลา 19.00 น.</strong>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>ทีมเหย้า</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="padding" style="text-align: center;">จำนวนคนโหวด : 50</ion-label>
        </ion-item>
        <ion-item>
          <strong>แมนยู</strong>
          <ion-button color="success">โหวต</ion-button>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>ทีมเยือน</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="padding" style="text-align: center;">จำนวนคนโหวด : 50</ion-label>
        </ion-item>
        <ion-item>
          <strong>ลิเวอร์พลู</strong>
          <ion-button color="success">โหวต</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>