<ion-header>
  <ion-toolbar>
    <ion-title>
      รายการแข่งขัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-select placeholder="เลือกสถานะ">
        <ion-select-option value="open">เปิดโหวดอยู่</ion-select-option>
        <ion-select-option value="close">ปิดโหวด</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card class="ion-padding example1" *ngFor="let t of dataBallMacth">
    <ion-row>
      <ion-col size="6" text-start>
        <ion-item>
          <strong>คู่วันที่ {{t.dateBall | date:"dd/mm/yy"}}</strong>
        </ion-item>
      </ion-col>
      <ion-col size="6" text-end>
        <ion-item>
          <strong>เวลา {{t.timeBall | date:"HH:mm"}}</strong>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>ทีมเหย้า</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="padding" style="text-align: center;">จำนวนคนโหวด : {{countHomevote}}</ion-label>
        </ion-item>
        <ion-item>
          <strong>{{t.homeTeamName}}</strong>
          <ion-button color="success" (click)="userVoteHomeTeam(pollId)">โหวต</ion-button>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>ทีมเยือน</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="padding" style="text-align: center;">จำนวนคนโหวด : {{countAwayvote}}</ion-label>
        </ion-item>
        <ion-item>
          <strong>{{t.awayTeamName}}</strong>
          <ion-button color="success" (click)="userVoteAwayTeam(t)">โหวต</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>