<ion-header>
  <ion-toolbar>
    <ion-title>
      ประกาศผล
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding style="color: black;">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <strong>คู่วันที่ 15/10/2562</strong>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <strong>เวลา 19.00 น.</strong>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">ทีมชนะ</ion-col>
      <ion-col style="text-align: center;">Score</ion-col>
      <ion-col style="text-align: center;">ทีมแพ้</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">แมนยู</ion-col>
      <ion-col style="text-align: center;">2 : 1</ion-col>
      <ion-col style="text-align: center;">ลิเวอร์พลู</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align: center;">ผู้ถูกรางวัล</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align: center;">เตอร์</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-card>
</ion-content>